<style>
.help {
    background-color: #FFFF73;
    
    display: none;
    opacity: 0.3;
    padding: 10px;
    
}

.help_link:hover + span {

width: 300px;
height: 30px;
display: inline-table;
}
</style>

<form>
    <label>Input: <input type="text" name="text" /></label> <a href="#" class="help_link">Help</a> <span class="help">Some<br> help here<br> on this input <br>field.</span><br />
    <label>Input: <input type="text" name="text2" /></label> <a href="#" class="help_link">Help</a> <span class="help">Some help here on this input field.</span><br />
</form>



<DIV TITLE="header=[First row] body=[second row]" STYLE="BORDER: #558844 1px solid;WIDTH:200px;HEIGHT: 40px"> My div with some text inside. Move over me to see my popup menu. </DIV>